<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <!-- <ion-icon slot="icon-only" name="camera"></ion-icon> -->
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/instagram-new-logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div class="text-stories">
    <p>Stories</p>
    <p>See more</p>
  </div> -->
  <div class="stories">
    <div class="story">
      <div class="add_story">
        <img src="../../assets/me.jpeg">
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </div>
      <p class="story-name">Your Story</p>
    </div>
    <div class="otherStories" *ngFor="let item of stories">
      <div class="story">
        <div class="img-box">
          <img [src]="item.imageURL" alt="user-avatar">
        </div>
        <p class="story-name">{{ item.name }}</p>
      </div>
      <!-- {{ stories | json}} -->
    </div>
  </div>
  <ion-item-divider></ion-item-divider>

  <div class="posts" *ngFor="let post of posts">
    <ion-item no-padding lines="none">
      <ion-avatar slot="start">
        <img [src]="post.userAvatar">
      </ion-avatar>
      <ion-label>{{ post.userName }}</ion-label>
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>
    <img [src]="post.postImage" alt="post-image" class="img-post">
    <div class="flex-button">
      <div>
        <ion-icon name="heart-outline"></ion-icon>
        <ion-icon name="chatbubble-outline"></ion-icon>
        <ion-icon name="paper-plane-outline"></ion-icon>
      </div>
      <ion-icon name="bookmark-outline"></ion-icon>
    </div>
    <p class="insta-text"><strong>{{ post.likes }} Likes</strong></p>
    <p class="insta-text"><strong>{{ post.userName }}</strong> {{ post.description }}</p>
    
  </div>
</ion-content>