
<ion-content [fullscreen]="true">
 <ion-item lines="none">
  <ion-label>
    <h3><strong>abdelalielbahloul </strong> <ion-icon name="chevron-down-outline"></ion-icon></h3>
  </ion-label>
  <div id="main">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>
  
</ion-item>
<ion-menu side="end" menuId="first" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>abdelalielbahloul</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <div class="settingsBtn">
        <ion-item>Settings</ion-item>
      </div>
      
    </ion-list>
  </ion-content>
</ion-menu>
</ion-content>
